
// Color Variables
$backgroundColor: #EEEEEE;
$headerColor: #FFFFFF;
$headerFontColor: #4B494F;
$lineColor: #E6E6E6;
$fontColor: #555555;
$footerColor: #4B494F;
$footerFontColor: #989898;

// Mixins
@mixin bottomBorder() {
  border-bottom: 1px solid $lineColor;
}
@mixin serifFontFamily() {
  font-family: 'Droid Serif', serif;
}


.wrapper {
  background-color: $backgroundColor;
  font-family: sans-serif;
  text-align: center;
  width: auto;
}


.header {
  background-color: $headerColor;
  color: $headerFontColor;
  text-align: left;
  font-size: 32px;
  padding: 25px 50px;;
}


.banner {
  height: 175px;
  width: 100%;
  background-image: url(../etsyBanner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}


.blank {
  height: 116px;
  @include bottomBorder;
}

.wholeQ{
  @include bottomBorder;
  color: $fontColor;
  height: 320px;

  .label {
    @include serifFontFamily;
    // font-weight: bold;
    font-size: 48px;
  }


  .answer {

  }


  span {
    // margin: 0 auto;
  }


  p {
    margin: 0;
  }
}

.footer {
  background-color: $footerColor;
  color: $footerFontColor;
  padding: 100px 0 35px 0;
}